name: Infinite Node.js Runner

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  loop-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Infinite loop
        run: |
          while true
          do
            echo ">>> STARTING APP FOR 6 HOURS"
            npm start &
            PID=$!
            
            sleep 21600   # 6 hours
            
            echo ">>> KILLING APP"
            kill $PID || true
            
            echo ">>> WAITING 15 MINUTES"
            sleep 900     # 15 min
          done
